<!DOCTYPE html>
<html lang="en">
<%-include("partials/head")%>
<body>
    <%-include("partials/navbar")%>

    <main id="mainContainer">
        <div id="shopContainer">

            <div id="filtroShop">
                <%-include("partials/seccionFiltro")%>                
            </div>
            <div id="itemsContainer">
                <%for(const item of productos) {%>
                    <article class="shopItem">
                        <%-include("partials/tarjetaProducto", {item})%>
                    </article>
                <%}%>
            </div>
        </div>
        <div id="shopPaginacion">
            <div class="shopBtnPag"><</div>
            <div class="shopBtnPag">1</div>
            <div class="shopBtnPag">2</div>
            <div class="shopBtnPag">...</div>
            <div class="shopBtnPag">9</div>
            <div class="shopBtnPag">10</div>
            <div class="shopBtnPag">></div>
        </div>
    </main>

    <%-include("partials/footer")%>
</body>
</html>