<a href="/shop/item/<%=item.product_sku%>">
    <img src=<%= item.img_front %> width="300px" alt="Imagen Producto">
</a>
<p class="itemLicencia"><%=item.licence_name%></p>
<p class="itemNombre"><%=item.product_name%></p>
<p class="itemPrecio">$<%=item.product_price%></p>
<p class="itemCuotas"><%=item.dues%> cuotas sin interes</p>